* {
    margin: 0;
    padding: 0;

}

.contenedor{

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{

width: 70%;
display: flex;
justify-content: center;
flex-direction: column;
}
.valores{
    display: flex;
    justify-self: center;
    padding: 30px;
    background-color: aquamarine;
}

#selector{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

}

