* {
    margin: 0;
    padding: 0;

}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center    ;
}

.encabezado{
    width: 80;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: green;
}

#valorImagen{
background-color: white;
}

.section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;


}

.header-section{
    width: 100%;
    display: flex;
    justify-content: center;



}

h2{
    justify-content: center;
    text-align: center;
}

picture{
    display: flex;
    justify-content: center;
}

img{
    height: 500px;
    width: 500px;
    justify-content: center;
}